<%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-sellers.css">
    <title></title>
</head>
<body>
    <!--include dash sidebar here-->
    <%- include('./dashboard-sidemenu', { adminName: adminName }) %>
    <!--admin table-->
    <div class="add">
        <h1 class="title">admins</h1>
        <a class="seller" href="/dash/signUp">add new admin</a>
    </div>
    <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < admins.length; i++) { %>
              <tr>
                <td data-title="id"><%= admins[i]._id %></td>
                <td data-title="Name"><%= admins[i].name %></td>
                <td data-title="Email"><%= admins[i].email %></td>
                <td data-title="Created At"><%= admins[i].createdAt.toDateString() %></td>
                <td data-title="Delete">
                  <form action="/admin/delete/<%= admins[i]._id %>" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="delete" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>