    <%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-main.css">
    <title></title>
</head>
<body>
    <!--include side bar -->
    <%- include('../admin/dashboard-sidemenu') %>
    <!--container-->
    <div class="cards-container">
        <!--budget container-->
        <div class="money-container">
            <div class="budget">
                <h2>budget</h2>
                <h1>$ <%= totalBudget %></h1>
            </div>
            <div class="profit">
                <h2>profit</h2>
                <h1>$ <%= totalPrice %></h1>
            </div>
        </div>
        <!--widget cards-->
        <div class="cards">
            <!--total users-->
            <div class="card">
                <h5>total users</h5>
                <h1><%= allUsersCount %></h1>
            </div>
            <!--new users-->
            <div class="card">
                <h5>new users</h5>
                <h1><%= usersLastMonthCount %></h1>
            </div>
            <!--products in stock-->
            <div class="card">
                <h5>Products in stock</h5>
                <h1><%= totalQuantity %></h1>
            </div>
            <!--total sales-->
            <div class="card">
                <h5>Total sales</h5>
                <h1><%= totalOrdersCount %></h1>
            </div>
            <!--sales one month -->
            <div class="card">
                <h5>sales 1month</h5>
                <h1><%= lastMonthOrders %></h1>
            </div>
            <!--revenue-->
            <div class="card">
                <h5>Revenue</h5>
                <h1>$<%= totalPrice %></h1>
            </div>
        </div>
        <!--charts part-->
        <div class="charts">
            <!--users sign up each month-->
            <div>
                <h2 class="chart-header">users sign up each month</h2>
                <canvas id="myChartUsers"></canvas>
            </div>
            <!--profit each month-->
            <div>
                <h2 class="chart-header">profit each month</h2>
                <canvas id="myChartProfit"></canvas>
            </div>
            <!--orders chart count each month-->
            <div>
                <h2 class="chart-header">orders chart count each month</h2>
                <canvas id="myChartOrders"></canvas>
            </div>
            <!--best selling products-->
            <div style="width: 50%;">
                <h2 class="chart-header">best selling products</h2>
                <canvas id="myChartSales"></canvas>
            </div>
        </div>
        <!--products low on stock -->
        <h1>Products Low on Stock</h1>
        <div class="products">
            <% if (lowStockProducts.length > 0) { %>
              <% lowStockProducts.forEach((product) => { %>
                <div class="product">
                  <a style="text-decoration: none;" href="/product/<%= product._id %>">
                    <div class="product-card">
                      <img src="<%= product.mainImagesPath[0] %>" alt="">
                      <p><%= product.name %></p>
                      <p><%= product.quantity %></p>
                    </div>
                  </a>
                  <div class="actions">
                    <ul>
                      <li><a href="">Contact Seller</a></li>
                    </ul>
                  </div>
                </div>
              <% }); %>
            <% } else { %>
                <h1>no products that are low on stock</h1>
            <% } %>
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascript/dash-main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>