    <%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-main.css">
    <title></title>
</head>
<body>
    <!--include side bar -->
    <%- include('../admin/dashboard-sidemenu') %>
    <!--container-->
    <div class="cards-container">
        <!--budget container-->
        <div class="money-container">
            <div class="budget">
                <h2>budget</h2>
                <h1>$ 5000</h1>
            </div>
            <div class="profit">
                <h2>profit</h2>
                <h1>$ 235</h1>
            </div>
        </div>
        <!--widget cards-->
        <div class="cards">
            <!--total users-->
            <div class="card">
                <h5>total users</h5>
                <h1><%= allUsersCount %></h1>
            </div>
            <!--new users-->
            <div class="card">
                <h5>new users</h5>
                <h1><%= usersLastMonthCount %></h1>
            </div>
            <!--products in stock-->
            <div class="card">
                <h5>Products in stock</h5>
                <h1><%= totalQuantity %></h1>
            </div>
            <!--total sales-->
            <div class="card">
                <h5>Total sales</h5>
                <h1><%= totalOrdersCount %></h1>
            </div>
            <!--sales one month -->
            <div class="card">
                <h5>sales 1month</h5>
                <h1><%= lastMonthOrders %></h1>
            </div>
            <!--revenue-->
            <div class="card">
                <h5>Revenue</h5>
                <h1>$<%= totalPrice %></h1>
            </div>
        </div>
        <!--charts part-->
        <div class="charts">
            <canvas id="myChart"></canvas>
        </div>
        <!--best selling products-->
        <div class="products">
            <h1>best selling products</h1>
            <div class="product">
                <a style="text-decoration: none;" href="../product-page.ejs">
                    <div class="product-card">
                        <img src="/pictures/wood monitor 2.png" alt="">
                        <p>Wood Monitor Stand</p>
                        <p>5 sold</p>
                    </div>
                </a>
                <!--add new product-->
                <div class="actions">
                    <ul>
                        <li><a href="">add new product</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--products low on stock -->
        <div class="products">
            <h1>products low on stock</h1>
            <div class="product">
                <a style="text-decoration: none;" href="../product-page.ejs">
                    <div class="product-card">
                        <img src="/pictures/wood monitor 2.png" alt="">
                        <p>Wood Monitor Stand</p>
                        <p>> 5</p>
                    </div>
                </a>
                <!--contact seller button-->
                <div class="actions">
                    <ul>
                        <li><a href="">contact seller</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascript/dash-main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>