    <%- include('../include/header.ejs') %>

    <link rel="stylesheet" href="/css/dash-products.css">
    <title></title>
</head>
<body>

    <!--include side bar-->
    <%- include('./dashboard-sidemenu') %>


    <!--products container-->
    <div class="products">
        <h1>all products</h1>
        <!--actions-->
        <div class="actions">
            <!--category-->
            <form class="view-category">
                <label for="cars">view by category:</label>
                <select name="cars" id="cars">
                  <option value="volvo">category1</option>
                  <option value="saab">category2</option>
                  <option value="opel">category3</option>
                  <option value="audi">category4</option>
                </select>
                <br><br>
                    <button>search</button>
            </form>
            <!--add new product-->
            <a class="add" href="/dash/add-product">add new product</a>
        </div>
        <!--products container-->
        <div class="product">
            <!--product card-->
            <% products.forEach(function(product) { %>
            <div class="product-card">
                <a style="text-decoration: none;" href="/product/<%= product._id %>">
                    <img src="/<%= product.mainImagesPath[0] %>" alt="">
                    <h3><%= product.name %></h3>
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;" class="info">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>category:</p>
                            <p><%= product.category.name %></p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>sold:</p>
                            <p><%= product.sold %></p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>stock:</p>
                            <p><%= product.quantity %></p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>price bought:</p>
                            <p>$<%= product.priceBought %></p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>price sell:</p>
                            <p>$<%= product.priceSold %></p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>profit each:</p>
                            <p>$<%= product.priceSold - product.priceBought %></p>
                        </div>
                        <div class="buttons">
                            <!--delete button-->
                            <form  action="/product/delete/<%= product._id %>" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">delete product</button>
                            </form>
                            <!--edit button-->
                        </div>
                    </div>
                    <a class="edit" style="color: #f69368;" href="/dash/edit-product/<%= product._id %>">edit product</a>
                </a>
            </div>
            <% }) %>
        </div>
    </div>




















    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>