    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <title>my cart</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>

    <!--! cart container-->
    <div class="my-cart-container">
        <div class="cart">
            <h1>my cart</h1>
            <button id="myBtn">continue to check out</button>
        </div>
        <!--! product cart-->
        <% if (products.length > 0) { %>
            <% for (let product of products) { %>
                <div class="cart-products">
                    <img src="/<%= product.productId.mainImagesPath[0] %>" alt="">
                    <div class="product-info">
                        <h4><%= product.productId.name %></h4>
                        <h4>material: <%= product.productId.material %></h4>
                        <div class="counter">
                            <h4>quantity:</h4>
                            <span class="down" onclick="decreaseCount(event, this)">
                                -
                            </span>
                            <input type="text" name="quantity" value="<%= product.quantity %>">
                            <span class="up" onclick="increaseCount(event, this)">
                                +
                            </span>
                        </div>
                        <h4 class="shipping">ships by 2/27/2023</h4>
                    </div>
                    <!--! actions-->
                    <div class="action">
                        <h4>$<%= product.productId.priceSold %></h4>
                        <form action="/deleteProductCart" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                            <button type="submit" style="border: none; border-bottom: 1px solid black; background: none; cursor: pointer;">remove</button>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h1 class="no" style="margin: 2rem;">no products in your cart</h1>
        <% } %>
        <% if ( errorMessage ) { %>
            <h2 id="error"><%= errorMessage %></h2>
        <% } %>
        <!--! total price-->
        <div class="total">
            <div>
                <h2>total $<%= totalPrice %></h2>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content scale-up-top">
            <span class="close">&times;</span>
            <div class="modal-container">
                <h1>please confirm is this is the address you want us to send products to ?</h1>
                <div class="address" >
                    <h2>name: <%= userData.name %></h2>
                    <h2>city: <%= userData.address.city %></h2>
                    <h2>street: <%= userData.address.street %></h2>
                    <h2>building: <%= userData.address.building %></h2>
                    <h2>apartment: <%= userData.address.apartmentNumber %></h2>
                </div>
                <form action="/checkout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="check">yes send products to this address</button>
                </form>
                <a href="/profile">no i want to update my information</a>
            </div>
        </div>
    </div>
    <!--! include blue section here-->
    <%- include('include/blue-section') %>
    <!--! include footer here-->
    <%- include('include/footer') %>
    <script defer src="/javascript/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>