    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/contact-us.css">
    <title>contact us</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>


    <!--! suppport section-->
    <div class="support">
        <div class="title">
            <h1>support</h1>
        </div>
        <div class="icons">
            <div class="icon">
                <i class="fa-solid fa-question"></i>
                <div>
                    <h2>F.A.Q.</h2>
                    <p>see our answers to frequently asked questions</p>
                    <ul>
                        <li><a href="/faq">view f.a.q.</a></li>
                    </ul>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-right-left"></i>
                <div>
                    <h2>returns</h2>
                    <p>Learn about our return policy and how to create a return ticket.</p>
                    <ul>
                        <li><a href="/faq">learn more</a></li>
                    </ul>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-scale-balanced"></i>
                <div>
                    <h2>policies</h2>
                    <p>Read more about Grovemade's policies regarding warranties, shipping, and more</p>
                    <ul>
                        <li><a href="/faq">view our policies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--! contact us form-->
    <div class="form-controle">
        <h1>contact</h1>
        <form action="/contact/form" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <div class="form">
                    <input type="text" name="name" id="form" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="name" class="form__label">name</label>
                </div>
                <div class="form">
                    <input type="text" name="subject" id="form" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="email" class="form__label">subject</label>
                </div>
                <div class="form">
                    <input type="text" name="message" id="message" class="form__input" autocomplete="off" placeholder=" ">
                    <label for="email" class="form__label">message</label>
                </div>
                <button type="submit">submit</button>
            </div>
        </form>
        <% if (successMessage) { %>
            <h2 id="success"><%= successMessage %></h2>
        <% } %>
    </div>

    <!--! include blue section here-->
    <%- include('include/blue-section') %>

    <!--! include footer here-->
    <%- include('include/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>