    <%- include('include/header.ejs') %>

    <link rel="stylesheet" href="/css/profile.css">
    <title>profile</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>
    <!--! profile container-->
    <div class="profile">
        <h1>password reset</h1>
        <!--! personal info container-->
        <div class="info" style="padding-top: 1rem;">
            <form action="/new-password" method="post">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="form">
                        <input type="password" id="form" class="form__input" autocomplete="off" name="password" value="" required>
                        <label for="password" class="form__label">new password*</label>
                    </div>
                </div>
                <!--! action-->
                <div>
                    <button type="submit">update password</button>
                </div>
            </form>
        </div>
    </div>
    

    <!--! include footer here -->
    <script src="/javascript/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>