    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/product-page.css">
    <title>product</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>
    <div>
        <!--! product container-->
        <div class="product">
            <!--! product pictures swipper-->
            <div class="swiper">
                <!-- Swiper -->
                <swiper-container class="mySwiper" pagination="true">
                    <% for (let i = 0; i < prod.mainImagesPath.length; i++) { %>
                        <swiper-slide>
                            <img src="/<%= prod.mainImagesPath[i] %>" alt="">
                        </swiper-slide>
                    <% } %>
                </swiper-container>
            </div>
            <!--! information and action button-->
            <div>
                <h1><%= prod.name %></h1>
                <h1> material: <%= prod.material %></h1>
                <h3>$<%= prod.priceSold %></h3>
                <div style="width: 2.5rem; background-color: <%= prod.color %>;" class="color"></div>
                <% if (prod.quantity === 0) { %>
                    <p>this product is out of stock</p>

                <% } else if (isLoggedIn) { %>
                    <form action="/add-to-cart" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="productId" value="<%= prod._id %>">
                        <button type="submit">add to cart</button>
                    </form>
                <% } else { %>
                    <p>you need to <a href="/sign-in">sign in</a> or <a href="/sign-up">sign up</a> to add product to cart</p>
                <% } %>
            </div>
        </div>
        <!--! description-->
        <div class="descrition">
            <div class="info">
                <h1>elevate your work</h1>
                <p><%= prod.description %></p>
            </div>
            <!--! second picture swipper-->
            <div class="second-swiper">
                <swiper-container class="mySwiper" navigation="true" >
                    <% for (let i = 0; i < prod.secondaryImagesPath.length; i++) { %>
                        <swiper-slide>
                            <img src="/<%= prod.secondaryImagesPath[i] %>" alt="">
                        </swiper-slide>
                    <% } %>
                </swiper-container>
            </div>
        </div>
        <!--! more products-->
        <div class="more">
            <h1>shop similar</h1>
            <div style="display: flex;flex-direction: row;" class="products">
                <% for (let products of similarProds) { %>
                    <a style="text-decoration: none;" href="/product/<%= products._id %>">
                        <div class="card">
                            <img src="/<%= products.mainImagesPath[0] %>" alt="">
                            <p><%= products.name %></p>
                            <p>$<%= products.priceSold %></p>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
    <!--! include blue section here-->
    <%- include('include/blue-section') %>
    <!--! include footer here-->
    <%- include('include/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>