    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/products-page.css">
    <title>all products</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>
    <!--! first section with picture-->
    <div class="first-section">
        <img src="/pictures/topimg.png" alt="">
        <div>
            <h1>Design Inspires What You Do</h1>
        </div>
    </div>
    <!--! all products container-->
    <div class="products">
        <h1>Define Your Space</h1>
        <p>Our desk pads provide subtle, effective organization of your workspace, creating functional boundaries and zones. The benefit is an optimized workspace, improved work, and a protected desk.</p>
        <!--! product pictures swipper-->
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <% for (let products of prods) { %>
                    <div class="swiper-slide">
                        <img src="/<%= products.secondaryImagesPath[0] %>" alt="">
                    </div>
                <% } %>
                </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        <!--! products cards container-->
        <h2 style="padding: 4rem 0; font-style: italic; border-bottom: 1px solid #adadad; letter-spacing: 2px; font-weight: 300;">You’ll wonder how you worked without it.</h2>
        <div class="product">
            <!--! product card-->
            <% if (prods.length > 0) { %>
                <% for (let products of prods) { %>
                    <a style="text-decoration: none;" href="/product/<%= products._id %>">
                        <div class="card">
                            <img src="/<%= products.mainImagesPath[0] %>" alt="">
                            <p><%= products.name %></p>
                            <p>$<%= products.priceSold %></p>
                        </div>
                    </a>
                <% } %>
            <% } else { %>
                <h1>no products found</h1>
            <% } %>
        </div>
    </div>
    <!--! include blue section here-->
    <%- include('include/blue-section') %>


    <!--! include footer here-->
    <%- include('include/footer') %>
    
    <script defer src="/javascript/products-page.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>