    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/sign-in.css">
    <title>sign in</title>
</head>
<body>
    <!--! include nav here-->
    <%- include('include/nav-bar') %>
    <!--! container-->
    <div class="container">
        <!--! blue side section-->
        <div class="section">
            <div class="titles">
                <img src="/pictures/grovemade logo.png" alt="">
                <h1>Design Inspires</h1>
                <p>Build your dream workspace, so you can get your best work done.</p>
                <ul>
                    <li><a href="/sign-up">dont have an account ? just sign up </a></li>
                </ul>
            </div>
        </div>
        <!--! form-->
        <div class="form-controle">
            <h1>sign in</h1>
            <form action= <%= admin ? '/dash/signIn' : "/sign-in" %> method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="form">
                        <input type="email" id="form" class="form__input" autocomplete="off" placeholder=" " name="email">
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="form">
                        <input type="password" id="form" class="form__input" autocomplete="off" placeholder=" " name="password">
                        <label for="password" class="form__label">password</label>
                    </div>
                    <button type="submit"><%=admin? 'admin log in' : 'log in'%></button>
                    <a style="padding-top: 1rem;" href="/email-reset">forgot password</a>
                </form>
                <% if ( errorMessage ) { %>
                    <h2 id="error"><%= errorMessage %></h2>
                <% } %>
            </div>
        </div>
    </div>

    <!--! include footer here-->
    <%- include('include/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>