    <%- include('include/header.ejs') %>
    <link rel="stylesheet" href="/css/wishlist.css">
    <title>wishlist</title>
</head>
<body>
    <!--! include header here--> 
    <%- include('include/nav-bar') %>
    <!--! container-->
    <div class="wishlist-page">
        <h1>wishlist</h1>
        <!--! products container-->
        <div class="products">
            <% if (wishlistProducts.length === 0) { %>
                <h2>No products in your wishlist.</h2>
            <% } else { %>
          <!--! product cards-->
          <% wishlistProducts.forEach((product) => { %>
          <a style="text-decoration: none;"href="/product/<%= product.productId._id %>">
            <div class="card">
              <img src="<%= product.productId.mainImagesPath[0] %>" alt="">
              <p><%= product.productId.name %></p>
              <p><%= product.productId.price %></p>
              <div>
                <form action="/add-to-cart" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="productId" value="<%= product.productId._id %>">
                    <button type="submit">add to cart</button>
                </form>
                <form action="/wishlist/remove/<%= product._id %>" method="POST"> <!-- Update the form action -->
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Remove from Wishlist</button> <!-- Change the button text -->
                </form>
              </div>
            </div>
          </a>
          <% }); %>
        <% } %>
        </div>
      </div>

    <!--! include blue section here--> 
    <%- include('include/blue-section') %>

    <!--! include footer here--> 
    <%- include('include/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a5df376e05.js" crossorigin="anonymous"></script>
</body>
</html>